@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

